{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}

    <div class="bundle">
        <div class="package-container">
            <div class="package-json">
                <div class="title">package.json</div>
                <div class="content">
                    <pre>{{ packageJson|raw }}</pre>
                </div>
            </div>
            <div class="package-list">
                {% for package in packages %}
                    <div class="package">
                        <img class="image" src="{{ package.image }}" alt="{{ package.name }}">
                        <div class="align">
                            <h3 class="title">{{ package.name }}</h3>
                            <p>{{ package.description|length > 250 ? package.description|slice(0, 250) ~ '...' : package.description }}</p>
                            <a href="{{ path('app_panier_remove', {'id': package.id}) }}" class="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                            </svg>
                            Remove from bundle</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="package-info">
            <h2>My bundle</h2>
            <p>Ajoutez des packages pour construire votre build npm !</p>
            <div class="content">
                <ul>
                    <li>Nombre de packages : <span class="number">{{ packages|length }}</span></li>
                    <li>Poids du package : <span class="size" >{{ weight }} KB</span></li>
                </ul>
            </div>
        </div>
    </div>

    {# <a href="{{ path('app_panier_index') }}">back to list</a> #}

    {# <a href="{{ path('app_panier_edit', {'id': panier.id}) }}">edit</a> #}

    {# {{ include('panier/_delete_form.html.twig') }} #}
{% endblock %}
