{% extends 'base.html.twig' %}

{% block title %}Package index{% endblock %}

{% block body %}
    <h1>Packages - ({{ packages|length }})</h1>
    <div class="filter-container">
        <form action="{{ path('app_package_index', app.request.query.all) }}" method="get" id="form-filter" class="languages-select">
            <div class="group-form">
                <label>Languages :</label>
                <select name="language" id="language">
                    <option value="all" selected>-- All languages --</option>
                    {% for lang in languages %}
                        <option value="{{ lang.language }}" {{ app.request.query.get('language') == lang.language ? 'selected' : '' }}>{{ (lang.language|first|upper ~ lang.language|slice(1)) }}</option>
                    {% endfor %}
                </select>
                <input type="hidden" name="display" value="{{ display }}">
            </div>

            <div class="group-form">
                <label>Categories :</label>
                <select name="category" id="category">
                    <option value="all" selected>-- All categories --</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}" {{ app.request.query.get('category') == category.id ? 'selected' : '' }}>{{ (category.name|first|upper ~ category.name|slice(1)) }}</option>
                    {% endfor %}
                </select>
                <input type="hidden" name="display" value="{{ display }}">
            </div>
            <button type="submit">Filter</button>
            <div class="separation"></div>
        </form>
        <div class="display-switcher">
            <a href="?{% if selectedLanguage %}language={{ selectedLanguage }}&{% endif %}{% if selectedCategory %}category={{ selectedCategory }}&{% endif %}display=list" {% if display == "list" %}class="active"{% endif %}>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-task" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5zM3 3H2v1h1z"/>
                    <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1z"/>
                    <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5zM2 7h1v1H2zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm1 .5H2v1h1z"/>
                </svg>
            </a>
            <a href="?{% if selectedLanguage %}language={{ selectedLanguage }}&{% endif %}{% if selectedCategory %}category={{ selectedCategory }}&{% endif %}display=vignette" {% if display == "vignette" %}class="active"{% endif %}>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid-fill" viewBox="0 0 16 16">
                    <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5zm8 0A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5zm-8 8A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5zm8 0A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5z"/>
                </svg>
            </a>
        </div>
    </div>

    <div class="container container-packages {% if display == 'list' %}list{% endif %}">
    {% for package in packages %}
        {% if display == 'vignette' %}
            <div class="package" >
                <img src="{{ asset('uploads/'~package.image) }}" alt="{{ package.name }}" width="100" height="100">
                <div class="container-tip">
                {% for category in package.category %}
                    <span class="tip">{{ category.name }}</span>
                {% endfor %}
                </div>
                <span class="align-title" ><h2>{{ package.name }}</h2> {{ package.version }} </span>
                <p>{{ package.description|length > 120 ? package.description|slice(0, 120) ~ '...' : package.description }}</p>
                <a href="{{ path('app_package_show', {'id': package.id}) }}" class="cta">Discover the package</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_package_edit', {'id': package.id}) }}" class="button-admin">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil " viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                        </svg>
                    </a>
                {% endif %}
            </div>
        {% else %}
            <div class="package-list" >
                <div class="image">
                    <img src="{{ asset('uploads/'~package.image) }}" alt="{{ package.name }}" width="100" height="100">
                </div>
                <div class="align">
                    <span class="align-title" ><h2>{{ package.name }}</h2> {{ package.version }} </span>
                    <div class="container-tip">
                    {% for category in package.category %}
                        <span class="tip">{{ category.name }}</span>
                    {% endfor %}
                    </div>
                    <p>{{ package.description|length > 250 ? package.description|slice(0, 250) ~ '...' : package.description }}</p>
                    <a href="{{ path('app_package_show', {'id': package.id}) }}" class="cta">Discover the package</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_package_edit', {'id': package.id}) }}" class="button-admin">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil " viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                            </svg>
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="package package-admin {% if display == 'list' %}package-list{% endif %}">
            <a href="{{ path('app_package_new') }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-plus-square-dotted" viewBox="0 0 16 16">
                    <path d="M2.5 0q-.25 0-.487.048l.194.98A1.5 1.5 0 0 1 2.5 1h.458V0zm2.292 0h-.917v1h.917zm1.833 0h-.917v1h.917zm1.833 0h-.916v1h.916zm1.834 0h-.917v1h.917zm1.833 0h-.917v1h.917zM13.5 0h-.458v1h.458q.151 0 .293.029l.194-.981A2.5 2.5 0 0 0 13.5 0m2.079 1.11a2.5 2.5 0 0 0-.69-.689l-.556.831q.248.167.415.415l.83-.556zM1.11.421a2.5 2.5 0 0 0-.689.69l.831.556c.11-.164.251-.305.415-.415zM16 2.5q0-.25-.048-.487l-.98.194q.027.141.028.293v.458h1zM.048 2.013A2.5 2.5 0 0 0 0 2.5v.458h1V2.5q0-.151.029-.293zM0 3.875v.917h1v-.917zm16 .917v-.917h-1v.917zM0 5.708v.917h1v-.917zm16 .917v-.917h-1v.917zM0 7.542v.916h1v-.916zm15 .916h1v-.916h-1zM0 9.375v.917h1v-.917zm16 .917v-.917h-1v.917zm-16 .916v.917h1v-.917zm16 .917v-.917h-1v.917zm-16 .917v.458q0 .25.048.487l.98-.194A1.5 1.5 0 0 1 1 13.5v-.458zm16 .458v-.458h-1v.458q0 .151-.029.293l.981.194Q16 13.75 16 13.5M.421 14.89c.183.272.417.506.69.689l.556-.831a1.5 1.5 0 0 1-.415-.415zm14.469.689c.272-.183.506-.417.689-.69l-.831-.556c-.11.164-.251.305-.415.415l.556.83zm-12.877.373Q2.25 16 2.5 16h.458v-1H2.5q-.151 0-.293-.029zM13.5 16q.25 0 .487-.048l-.194-.98A1.5 1.5 0 0 1 13.5 15h-.458v1zm-9.625 0h.917v-1h-.917zm1.833 0h.917v-1h-.917zm1.834-1v1h.916v-1zm1.833 1h.917v-1h-.917zm1.833 0h.917v-1h-.917zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                </svg>
                Add a package
            </a>
        </div>
    {% endif %}
    </div>
{% endblock %}
