{% extends 'base.html.twig' %}

{% block title %}Package{% endblock %}

{% block body %}

    <div class="container">
        <div class="package-single">
            <div class="readme">
                <div class="title">Readme</div>
                <div class="content">
                    {% if readme %}{{ readme|raw }}{% else %}No content found on the repository{% endif %}
                </div>
            </div>
            <div class="package-infos">
                <h2>{{ package.name }}</h2>
                <p class="version">Version {{ package.version }}</p>
                <p>{{ package.description }}</p>
                <p>Language : <span class="language">{{ (package.language|first|upper ~ package.language|slice(1)) }}</span></p>
                <p>Size : <span class="size">{{ package.size }} KB</span></p>
                <p>Documentation : <br><a href="{{ package.documentation }}">{{ package.documentation }}</a></p>
                <p>Repository : <br><a href="{{ package.repository }}">{{ package.repository }}</a></p>
                <div class="code">
                    <code id="install">npm i {{ package.install }}</code>
                    <button class="copy" id="copy">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
                        </svg>
                    </button>
                </div>
                <a class="button" href="{{ path('app_panier_add', {'id': package.id}) }}">Add to my Bundle</a>      
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_package_edit', {'id': package.id}) }}" class="button-admin">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil " viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                        </svg>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
