<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bundle Buddy{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="{{ asset('dist/main.css') }}">
        <script src="{{ asset('dist/main.js') }}" ></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header class="headerMenu" >
            <div class="headerSeparation"></div>
            <div class="containerMenu container">
                <a href="{{ path('index') }}">
                    <img class="logo" src="{{ asset('assets/images/logo.png') }}" alt="Bundle Buddy" width="100">
                </a>
                <nav>
                    <ul class="mainMenu">
                        <li></li>
                        <li><a href="{{ path('app_package_index') }}">All packages</a></li>
                        <li><a href="{{ path('app_category_index') }}">All category</a></li>

                        <li><a href="{% if app.user %}{{ path('app_panier_show', {id: app.user.id}) }}{% else %}{{ path('app_login') }}{% endif %}" class="{% if app.user == NULL %} inactive {% endif %}" >My bundle</a></li>
                        <li>
                            {% if app.user %}
                                <strong>{{ app.user.username }}</strong>
                                <a href="{{ path('app_logout') }}">Logout</a>
                            {% else %}
                                <a href="{{ path('app_login') }}">Login</a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <main class="container-page">
        {% block body %}{% endblock %}
        </main>

        <footer class="footer">
            <div class="footerList container">
                <div class="footerMenu">
                    <nav>
                        <ul>
                            <li><a href="{{ path('index') }}">Home</a></li>
                            <li><a href="{{ path('app_package_index') }}">All packages</a></li>
                            <li><a href="{{ path('app_category_index') }}">All category</a></li>
                            <li>-</li>
                            <li>Bundle Buddy 2024</li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="socket"></div>
        </footer>

    </body>
</html>
